body {
    font-family: Arial, sans-serif;
    background-color: #e4c0de;
    color: #000000;
  }

img {
    width: 200px;
    height: 150px;
 margin: 0 auto;
    display: block; 
}
.image-container {
    text-align: center; /* Center image within container */
}

.image-container img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}